body{
	font-family: sans-serif;
	margin: 0; padding: 10% 0; box-sizing: border-box;
	background-color: #8A8D8F;
}

h1{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	margin-top: -7%;
	margin-bottom: 3%;
	font-size: 72px;
}

#displayDiv{
	text-align: right;
	font-size: 24px;
	border: 2px solid;
	padding-right: 25px;
	background-color: white;
	align-self: stretch;
	margin: 0 18.25% 1% 20%;
	order: 1;
	flex: 2 1 0 0;
}

button{
	  background-color: #F7F4EE;
    border: none;
    border-radius: 6px;
    color: #000000;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    height: 100px;
    width: 225px;
    margin-left: 15px;
    margin-bottom: 15px;
    flex-grow: 1 2 0 0;
    align-items: stretch;
    box-shadow: 0 9px #000;
}

button:hover{
	background-color: #BBD1C2;
	color: #F7F4EE;
	transition-duration: 0.3s;
	cursor: pointer;
}

button:active{
		box-shadow: 0 5px #000;
	transform: translateY(4px);
}

#numbers{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 19.25%;
}

#seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #dblZero, #decimal{
	float: left;
	order: 2;
}

#divide, #multiply, #subtract, #add, #equals{
	order: 3;
}


#divide:hover button, #multiply:hover button, #subtract:hover button, #add:hover button, #equals:hover button{
	background-color: #C85534;
	margin-left: 15px;
  margin-bottom: 15px;
 	transition-duration: 0.3s;

}

#operators{
	align-items: flex-end;
	margin-top: -23.90%;
	margin-left: 56.75%;
	margin-right: 0;
	width: 14%;

}

#clear, #getBalance, #depositCash, #withdrawCash{
	order: 4;
	width: 14%;
}


#clear:hover button, #getBalance:hover button, #depositCash:hover button, #withdrawCash:hover button{
	background-color: #A16A4D;
	transition-duration: 0.3s;
}

#register{
	align-items: flex-end;
	margin-top: -29.90%;
	margin-left: 69.25%;
}

